[package]
name = "islandfight"
version = "0.1.0"
edition = "2021"
description = "A casual game based on the classic Inselkampf"

[dependencies]
rand = "0.8"
serde = { version = "1", features = ["derive"] }
serde_yaml = { version = "0.9", optional = true }
axum = { version = "0.7", optional = true }
tokio = { version = "1.37", features = ["full"], optional = true }
lazy_static = { version = "1.4", optional = true }

[features]
default = []
cli = ["axum", "serde_yaml", "tokio", "lazy_static"]

[[bin]]
name = "islandfight"
path = "src/main.rs"
required-features = ["cli"]
